/* extra styling to make the tabs look better that wasn't in the video */

:root {
  /* either --dark-mode or --no-dark-mode */
  --color-scheme: var(--dark-mode);

  --font-family: system-ui;

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --clr-primary-300: hsl(219, 76%, 55%);
  --clr-primary-400: hsl(219, 76%, 40%);
  --clr-primary-500: hsl(219, 76%, 25%);
  --clr-secondary-300: hsl(269, 75%, 55%);
  --clr-secondary-400: hsl(269, 75%, 40%);
  --clr-secondary-500: hsl(269, 75%, 25%);
  --clr-accent-300: hsl(358, 72%, 65%);
  --clr-accent-400: hsl(358, 72%, 50%);
  --clr-accent-500: hsl(358, 72%, 35%);

  /* settings */
  --no-dark-mode: light;
  --dark-mode: dark light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

html {
  color-scheme: var(--color-scheme);
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--fs-400);
  line-height: 1.6;
}
.tabs-container {
  /* padding: 2.5rem; */
  /* border-radius: 0.5rem; */
  background: hsla(0, 2%, 66%, 0.254);
}

.wrapper {
  width: 800px;
  margin-inline: auto;
}

.tabs-wrapper {
  display: flex;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
  padding: 10px;
  flex: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inactive-li {
  list-style: none;
  background-color: rgb(91, 133, 126);
}

.li-active {
  list-style: none;
  background-color: rgb(159, 230, 218);
}
.tabs__panels {
  padding: 20px;
}
